In [1]:
import pandas as pd
df = pd.read_csv("Rigging.csv")
df.head()

   Sr. No.      HMR          Remarks
0        1  98678.5  drum_rope_broke
1        2  98731.0  drum_rope_broke
2        3  99039.5  drum_rope_broke
3        4  99703.0  drum_rope_broke
4        5  99923.5  drum_rope_broke

In [2]:
df.drop(['Sr. No.'],axis='columns', inplace=True) 
df.head()

       HMR          Remarks
0  98678.5  drum_rope_broke
1  98731.0  drum_rope_broke
2  99039.5  drum_rope_broke
3  99703.0  drum_rope_broke
4  99923.5  drum_rope_broke

In [3]:
dummies= pd.get_dummies(df.Remarks)
dummies

     drum_pulley_pinout  drum_rope_broke  drum_rope_slip  dump_socket_pinout
0                     0                1               0                   0
1                     0                1               0                   0
2                     0                1               0                   0
3                     0                1               0                   0
4                     0                1               0                   0
..                  ...              ...             ...                 ...
264                   0                0               1                   0
265                   0                0               1                   0
266                   0                0               1                   0
267                   0                0               1                   0
268                   0                0               1                   0

[269 rows x 4 columns]

In [4]:
merged = pd.concat([df,dummies],axis='columns')
merged

,HMR,Remarks,drum_pulley_pinout,drum_rope_broke,drum_rope_slip,dump_socket_pinout
0,98678.5,drum_rope_broke,0,1,0,0
1,98731.0,drum_rope_broke,0,1,0,0
2,99039.5,drum_rope_broke,0,1,0,0
3,99703.0,drum_rope_broke,0,1,0,0
4,99923.5,drum_rope_broke,0,1,0,0
...,...,...,...,...,...,...
264,172028.0,drum_rope_slip,0,0,1,0
265,173073.5,drum_rope_slip,0,0,1,0
266,173482.0,drum_rope_slip,0,0,1,0
267,173880.5,drum_rope_slip,0,0,1,0
268,174194.0,drum_rope_slip,0,0,1,0

In [5]:
final = merged.drop(['Remarks'],axis='columns')
final

,HMR,drum_pulley_pinout,drum_rope_broke,drum_rope_slip,dump_socket_pinout
0,98678.5,0,1,0,0
1,98731.0,0,1,0,0
2,99039.5,0,1,0,0
3,99703.0,0,1,0,0
4,99923.5,0,1,0,0
...,...,...,...,...,...
264,172028.0,0,0,1,0
265,173073.5,0,0,1,0
266,173482.0,0,0,1,0
267,173880.5,0,0,1,0
268,174194.0,0,0,1,0

In [6]:
inputs = final.drop('drum_rope_broke',axis='columns')
target= final.drum_rope_broke

In [7]:
inputs.columns[inputs.isna().any()]

Index([], dtype='object')

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [9]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [10]:
model.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [11]:
model.score(X_test,y_test)

0.9074074074074074

In [12]:
X_test[0:10]

          HMR  drum_pulley_pinout  drum_rope_slip  dump_socket_pinout
251  167288.5                   0               1                   0
183  150959.0                   1               0                   0
37   112523.0                   0               0                   0
80   120950.0                   0               0                   1
215  158201.5                   0               1                   0
182  150662.0                   1               0                   0
67   117954.0                   0               0                   1
242  165412.0                   0               1                   0
52   115902.5                   0               0                   0
25   107629.0                   0               0                   0

In [13]:
y_test[0:10]

251    0
183    0
37     1
80     0
215    0
182    0
67     0
242    0
52     1
25     1
Name: drum_rope_broke, dtype: uint8

In [14]:
model.predict(X_test[0:10])

array([0, 0, 1, 0, 0, 0, 1, 0, 1, 1], dtype=uint8)