In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('dragline data.csv')

In [5]:
df

,Unnamed: 0,Rigging,Unnamed: 2,Dragging system,Unnamed: 4,HOIST,Unnamed: 6
0,Sr. No.,HMR,Remarks,HMR,Remarks,HMR,Remarks
1,1,98678.5,Dump rope broken,99051,Drag rope cut from drum,103678.5,hoist brake not working
2,2,98731,Dump rope broken(New dump rope fitted),99526,Drag chain line broken,105157.5,hoist shakle pin out
3,3,99039.5,Dump rope broken,100123.5,Drag rope broken,110937,"hoist rope,hoist brake jam"
4,4,99703,"Dump rope ,Dump socket pin",100141,drag rope broken,111304,hoist chain link broken
...,...,...,...,...,...,...,...
267,266,173482,dump rope broke,173880.5,drag rope,NaN,NaN
268,267,173880.5,dump rope broke,173990,drag chain,NaN,NaN
269,268,174194,dump rope broke,174073.5,drag walk,NaN,NaN
270,269,NaN,NaN,174407,drag chain link broken,NaN,NaN
271,270,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df1= pd.read_excel('dragline data.xlsx')

In [12]:
df1

,Unnamed: 0,Rigging,Unnamed: 2,Dragging system,Unnamed: 4,HOIST,Unnamed: 6
0,Sr. No.,HMR,Remarks,HMR,Remarks,HMR,Remarks
1,1,98678.5,Dump rope broken,99051,Drag rope cut from drum,103678,hoist brake not working
2,2,98731,Dump rope broken(New dump rope fitted),99526,Drag chain line broken,105158,hoist shakle pin out
3,3,99039.5,Dump rope broken,100124,Drag rope broken,110937,"hoist rope,hoist brake jam"
4,4,99703,"Dump rope ,Dump socket pin",100141,drag rope broken,111304,hoist chain link broken
...,...,...,...,...,...,...,...
267,266,173482,dump rope broke,173880,drag rope,NaN,NaN
268,267,173880,dump rope broke,173990,drag chain,NaN,NaN
269,268,174194,dump rope broke,174074,drag walk,NaN,NaN
270,269,NaN,NaN,174407,drag chain link broken,NaN,NaN
271,270,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df.head()

,Unnamed: 0,Rigging,Unnamed: 2,Dragging system,Unnamed: 4,HOIST,Unnamed: 6
0,Sr. No.,HMR,Remarks,HMR,Remarks,HMR,Remarks
1,1,98678.5,Dump rope broken,99051,Drag rope cut from drum,103678,hoist brake not working
2,2,98731,Dump rope broken(New dump rope fitted),99526,Drag chain line broken,105158,hoist shakle pin out
3,3,99039.5,Dump rope broken,100124,Drag rope broken,110937,"hoist rope,hoist brake jam"
4,4,99703,"Dump rope ,Dump socket pin",100141,drag rope broken,111304,hoist chain link broken

In [16]:
df2 = pd.read_csv('dragging system.csv')

In [17]:
df2

     Sr. No.       HMR                  Remarks
0          1   99051.0  Drag rope cut from drum
1          2   99526.0   Drag chain line broken
2          3  100123.5         Drag rope broken
3          4  100141.0         drag rope broken
4          5  100183.0   drag chain line broken
..       ...       ...                      ...
265      266  173720.5             drag system
266      267  173880.5                drag rope
267      268  173990.0               drag chain
268      269  174073.5                drag walk
269      270  174407.0   drag chain link broken

[270 rows x 3 columns]

In [ ]:
df3 = pd